.checkbox-label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.checkbox-label input[type="checkbox"] {
  width: 20px; /* Adjust the width to your desired size */
  height: 20px; /* Adjust the height to your desired size */
}

.image-border {
  @apply border rounded-md border-gray-300 p-1;
}
