.checkbox-label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.checkbox-label input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.image-border {
  @apply border rounded-md border-gray-300 p-1;
}

.img-transition {
  @apply bg-white hover:brightness-50 transition delay-600 ease-linear cursor-pointer;
}
